body{
    height: 500px;
    background:url('pica.jpg');
}
h1
{
    color: blue;
    font-style: italic;
    font-size: 100px;
    
}
h2
{
    color: black;
    font-style: italic;
    font-size: 20px;
    
}
li
{
    color: blue;
   
    font-size: 30px;


}
